In [2]:
import pandas as pd

df = pd.read_csv('vlucht data schiphol.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5331 entries, 0 to 5330
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Time               5331 non-null   object
 1   Latitude           5331 non-null   float64
 2   Longitude          5331 non-null   float64
 3   Course             5331 non-null   object
 4   Speed_kts          4855 non-null   float64
 5   Speed_mph          4855 non-null   float64
 6   Altitude_feet      4829 non-null   object
 7   ClimbRate          2943 non-null   object
 8   ReportingFacility  5331 non-null   object
 9   FlightType         5331 non-null   object
 10  FlightNumber       5331 non-null   object
 11  ScrapeTime         5331 non-null   object
dtypes: float64(4), object(8)
memory usage: 499.9+ KB

In [3]:
df['path'] = df['Latitude'].astype('string') + ", " + df['Longitude'].astype('string')


df.head()

,Time,Latitude,Longitude,Course,Speed_kts,Speed_mph,Altitude_feet,ClimbRate,ReportingFacility,FlightType,FlightNumber,ScrapeTime,path
0,Mon 07:13:52 AM,51.5050,0.0604,→ 95°,136.0,157.0,NaN,NaN,FlightAware ADS-B (LCY / EGLC),Arrivals,CFE8489,2025-03-24 13:04:30,"51.505, 0.0604"
1,Mon 07:14:08 AM,51.5043,0.0751,→ 92°,125.0,144.0,950,"3,047",FlightAware ADS-B (LCY / EGLC),Arrivals,CFE8489,2025-03-24 13:04:30,"51.5043, 0.0751"
2,Mon 07:14:24 AM,51.5041,0.0909,→ 92°,131.0,151.0,"1,575","1,641",FlightAware ADS-B (LCY / EGLC),Arrivals,CFE8489,2025-03-24 13:04:30,"51.5041, 0.0909"
3,Mon 07:14:40 AM,51.5055,0.1075,→ 71°,151.0,174.0,"1,825","1,078",FlightAware ADS-B (SEN / EGMC),Arrivals,CFE8489,2025-03-24 13:04:30,"51.5055, 0.1075"
4,Mon 07:14:56 AM,51.5104,0.1241,↗ 53°,169.0,194.0,"2,150","1,313",FlightAware ADS-B (EGML),Arrivals,CFE8489,2025-03-24 13:04:30,"51.5104, 0.1241"

In [4]:
# Convert 'date' column to datetime
df['ScrapeTime'] = pd.to_datetime(df['ScrapeTime'])  

# Extract only the date part (YYYY-MM-DD)
df['date_str'] = df['ScrapeTime'].dt.strftime('%Y-%m-%d')

# Concatenate 'date_str' with 'time' and convert to datetime
df['datetime'] = pd.to_datetime(df['date_str'] + ' ' + df['Time'], format='%Y-%m-%d %a %I:%M:%S %p')

# Convert to timestamp (milliseconds)
df['timestamp'] = df['datetime'].apply(lambda x: int(x.timestamp() * 1000))

df.head()

,Time,Latitude,Longitude,Course,Speed_kts,Speed_mph,Altitude_feet,ClimbRate,ReportingFacility,FlightType,FlightNumber,ScrapeTime,path,date_str,datetime,timestamp
0,Mon 07:13:52 AM,51.5050,0.0604,→ 95°,136.0,157.0,NaN,NaN,FlightAware ADS-B (LCY / EGLC),Arrivals,CFE8489,2025-03-24 13:04:30,"51.505, 0.0604",2025-03-24,2025-03-24 07:13:52,1742800432000
1,Mon 07:14:08 AM,51.5043,0.0751,→ 92°,125.0,144.0,950,"3,047",FlightAware ADS-B (LCY / EGLC),Arrivals,CFE8489,2025-03-24 13:04:30,"51.5043, 0.0751",2025-03-24,2025-03-24 07:14:08,1742800448000
2,Mon 07:14:24 AM,51.5041,0.0909,→ 92°,131.0,151.0,"1,575","1,641",FlightAware ADS-B (LCY / EGLC),Arrivals,CFE8489,2025-03-24 13:04:30,"51.5041, 0.0909",2025-03-24,2025-03-24 07:14:24,1742800464000
3,Mon 07:14:40 AM,51.5055,0.1075,→ 71°,151.0,174.0,"1,825","1,078",FlightAware ADS-B (SEN / EGMC),Arrivals,CFE8489,2025-03-24 13:04:30,"51.5055, 0.1075",2025-03-24,2025-03-24 07:14:40,1742800480000
4,Mon 07:14:56 AM,51.5104,0.1241,↗ 53°,169.0,194.0,"2,150","1,313",FlightAware ADS-B (EGML),Arrivals,CFE8489,2025-03-24 13:04:30,"51.5104, 0.1241",2025-03-24,2025-03-24 07:14:56,1742800496000

In [6]:
df.to_csv("timestamp vlucht data.csv")