In [58]:
import pandas as pd

df = pd.read_csv('vlucht data schiphol.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5331 entries, 0 to 5330
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Time               5331 non-null   object
 1   Latitude           5331 non-null   float64
 2   Longitude          5331 non-null   float64
 3   Course             5331 non-null   object
 4   Speed_kts          4855 non-null   float64
 5   Speed_mph          4855 non-null   float64
 6   Altitude_feet      4829 non-null   object
 7   ClimbRate          2943 non-null   object
 8   ReportingFacility  5331 non-null   object
 9   FlightType         5331 non-null   object
 10  FlightNumber       5331 non-null   object
 11  ScrapeTime         5331 non-null   object
dtypes: float64(4), object(8)
memory usage: 499.9+ KB

In [59]:
df['path'] = df['Latitude'].astype('string') + ", " + df['Longitude'].astype('string')


df.head()

,Time,Latitude,Longitude,Course,Speed_kts,Speed_mph,Altitude_feet,ClimbRate,ReportingFacility,FlightType,FlightNumber,ScrapeTime,path
0,Mon 07:13:52 AM,51.5050,0.0604,→ 95°,136.0,157.0,NaN,NaN,FlightAware ADS-B (LCY / EGLC),Arrivals,CFE8489,2025-03-24 13:04:30,"51.505, 0.0604"
1,Mon 07:14:08 AM,51.5043,0.0751,→ 92°,125.0,144.0,950,"3,047",FlightAware ADS-B (LCY / EGLC),Arrivals,CFE8489,2025-03-24 13:04:30,"51.5043, 0.0751"
2,Mon 07:14:24 AM,51.5041,0.0909,→ 92°,131.0,151.0,"1,575","1,641",FlightAware ADS-B (LCY / EGLC),Arrivals,CFE8489,2025-03-24 13:04:30,"51.5041, 0.0909"
3,Mon 07:14:40 AM,51.5055,0.1075,→ 71°,151.0,174.0,"1,825","1,078",FlightAware ADS-B (SEN / EGMC),Arrivals,CFE8489,2025-03-24 13:04:30,"51.5055, 0.1075"
4,Mon 07:14:56 AM,51.5104,0.1241,↗ 53°,169.0,194.0,"2,150","1,313",FlightAware ADS-B (EGML),Arrivals,CFE8489,2025-03-24 13:04:30,"51.5104, 0.1241"

In [60]:
# Convert 'date' column to datetime
df['ScrapeTime'] = pd.to_datetime(df['ScrapeTime'])  

# Extract only the date part (YYYY-MM-DD)
df['date_str'] = df['ScrapeTime'].dt.strftime('%Y-%m-%d')

# Concatenate 'date_str' with 'time' and convert to datetime
df['datetime'] = pd.to_datetime(df['date_str'] + ' ' + df['Time'], format='%Y-%m-%d %a %I:%M:%S %p')

# Convert to timestamp (milliseconds)
df['timestamp'] = df['datetime'].apply(lambda x: int(x.timestamp() * 1000))

df['path'] = df['path'].tolist()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5331 entries, 0 to 5330
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Time               5331 non-null   object
 1   Latitude           5331 non-null   float64
 2   Longitude          5331 non-null   float64
 3   Course             5331 non-null   object
 4   Speed_kts          4855 non-null   float64
 5   Speed_mph          4855 non-null   float64
 6   Altitude_feet      4829 non-null   object
 7   ClimbRate          2943 non-null   object
 8   ReportingFacility  5331 non-null   object
 9   FlightType         5331 non-null   object
 10  FlightNumber       5331 non-null   object
 11  ScrapeTime         5331 non-null   datetime64[ns]
 12  path               5331 non-null   object
 13  date_str           5331 non-null   object
 14  datetime           5331 non-null   datetime64[ns]
 15  timestamp          5331 non-null   int64
dtypes: datetime64[ns](2), float64(4), int64(1), object(9)
memory usage: 666.5+ KB

In [61]:
# Create a 'coordinates' column as a list [Latitude, Longitude]
df["coordinates"] = df.apply(lambda row: [row["Latitude"], row["Longitude"]], axis=1)

# Normalize timestamps by subtracting 1554772579000
df["timestamps"] = df["timestamp"] - 1554772579000

df.head()

,Time,Latitude,Longitude,Course,Speed_kts,Speed_mph,Altitude_feet,ClimbRate,ReportingFacility,FlightType,FlightNumber,ScrapeTime,path,date_str,datetime,timestamp,coordinates,timestamps
0,Mon 07:13:52 AM,51.5050,0.0604,→ 95°,136.0,157.0,NaN,NaN,FlightAware ADS-B (LCY / EGLC),Arrivals,CFE8489,2025-03-24 13:04:30,"51.505, 0.0604",2025-03-24,2025-03-24 07:13:52,1742800432000,"[51.505, 0.0604]",188027853000
1,Mon 07:14:08 AM,51.5043,0.0751,→ 92°,125.0,144.0,950,"3,047",FlightAware ADS-B (LCY / EGLC),Arrivals,CFE8489,2025-03-24 13:04:30,"51.5043, 0.0751",2025-03-24,2025-03-24 07:14:08,1742800448000,"[51.5043, 0.0751]",188027869000
2,Mon 07:14:24 AM,51.5041,0.0909,→ 92°,131.0,151.0,"1,575","1,641",FlightAware ADS-B (LCY / EGLC),Arrivals,CFE8489,2025-03-24 13:04:30,"51.5041, 0.0909",2025-03-24,2025-03-24 07:14:24,1742800464000,"[51.5041, 0.0909]",188027885000
3,Mon 07:14:40 AM,51.5055,0.1075,→ 71°,151.0,174.0,"1,825","1,078",FlightAware ADS-B (SEN / EGMC),Arrivals,CFE8489,2025-03-24 13:04:30,"51.5055, 0.1075",2025-03-24,2025-03-24 07:14:40,1742800480000,"[51.5055, 0.1075]",188027901000
4,Mon 07:14:56 AM,51.5104,0.1241,↗ 53°,169.0,194.0,"2,150","1,313",FlightAware ADS-B (EGML),Arrivals,CFE8489,2025-03-24 13:04:30,"51.5104, 0.1241",2025-03-24,2025-03-24 07:14:56,1742800496000,"[51.5104, 0.1241]",188027917000

In [62]:
df.to_csv("timestamp vlucht data.csv")

In [63]:
data = '[{"agent_id":0,"path":[[-0.63968,50.83091,0.0],[-0.78175,50.83205,0.0]],"time":[65100,65520],"color":[228,87,86]},{"agent_id":1,"path":[[-0.63968,50.83091,0.0],[-0.78175,50.83205,0.0]],"time":[65940,66420],"color":[178,121,162]},{"agent_id":2,"path":[[-0.63968,50.83091,0.0],[-0.37617,50.8185,0.0]],"time":[65340,66360],"color":[157,117,93]},{"agent_id":3,"path":[[-0.63968,50.83091,0.0],[-0.78175,50.83205,0.0]],"time":[65940,66420],"color":[238,202,59]},{"agent_id":4,"path":[[-0.63968,50.83091,0.0],[-0.78175,50.83205,0.0]],"time":[67740,68160],"color":[157,117,93]}]'

df = pd.read_json(data)

df.head()

/var/folders/fl/nwwn4f014394wwdd1x0fnyn80000gp/T/ipykernel_42886/1111439686.py:3: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(data)

,agent_id,path,time,color
0,0,"[[-0.63968, 50.83091, 0.0], [-0.78175000000000...","[65100, 65520]","[228, 87, 86]"
1,1,"[[-0.63968, 50.83091, 0.0], [-0.78175000000000...","[65940, 66420]","[178, 121, 162]"
2,2,"[[-0.63968, 50.83091, 0.0], [-0.37617, 50.8185...","[65340, 66360]","[157, 117, 93]"
3,3,"[[-0.63968, 50.83091, 0.0], [-0.78175000000000...","[65940, 66420]","[238, 202, 59]"
4,4,"[[-0.63968, 50.83091, 0.0], [-0.78175000000000...","[67740, 68160]","[157, 117, 93]"

In [ ]:
#  !pip install --upgrade pip

Requirement already satisfied: pip in /Applications/anaconda3/lib/python3.12/site-packages (25.0.1)